@model List<Message>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Messages</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>User Email</th>
                        <th>Date</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>User Name</th>
                        <th>User Email</th>
                        <th>Date</th>
                        <th>View</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (Message item in Model)
                    {
                        <tr>
                            
                            <td>@item.UserName</td>
                            <td>@item.UserEmail</td>
                            <td>@item.MessageDate.ToString("yy/MM/dd")</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary mr-1">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

