@model Project
<div id="main">
    <div class="inner">
        <h1>@Model.Title </h1>
        <span class="image main"><img src="@Model.Image" alt="" /></span>
        <span class="image main"><img src="" alt="" /></span>
        <p>@Model.Description </p>
    </div>
</div>
