@model HomeView
<div id="main">
    <div class="inner">
        <header>
            <h1>
                @Model.Banner.Title <a href="http://html5up.net">HTML5 UP</a>.
            </h1>
            <p>@Model.Banner.Text</p>
        </header>
        <section class="tiles">
            @foreach(Project item in Model.Projects)
            {
                <article runat="server" class="style@(ViewBag.Style<6?(ViewBag.Style+=1):((ViewBag.Style-=5)))">
                    <span class="image">
                        <img src="~/assets/img/Projects/@item.Image" alt="" />
                    </span>
                    <a href="/projects/index/@item.Id">
                        <h2>@item.Title</h2>
                        <div class="content">
                            <p>@item.SubTitle</p>
                        </div>
                    </a>
                </article>
            }

        </section>
    </div>
</div>
